button.stat-button {
  border-radius: 10px;
  width:30px;
}

.stat-value {
  display: inline-block;
  padding: 5px;
  width: 25px;
}

span.box {
  padding: 0;
  margin: 0;
}

.stat-button.buttonish {
  margin: 0;
  padding: 1px;
}

span.buttonish {
  padding: 2px;;
  margin: 0;
}

.stat-input .tooltiptext {
  width: 25%
}