.stat-input {
  display: flex;
  justify-content: space-between;
}

.perk-inputs {
  display: flex;
  justify-content: space-between;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.number::-webkit-inner-spin-button{
  opacity: 1;
}

.number {
  width: 100px
}

#build-form {
  display: flex;
  flex-direction: column;
}

textarea {
  font-family: sans-serif;
}

#build-form {
  width: 90%;
  align-self: center;
}