.stat-input {
  display: flex;
  justify-content: space-between;
}

.perk-inputs {
  display: flex;
  justify-content: space-between;
}

.perks-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-between;
}

fieldset {
  max-width: 95%;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.number::-webkit-inner-spin-button{
  opacity: 1;
}

.number {
  width: 100px
}

#build-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#build-form {
  width: 90%;
  align-self: center;
}

.tab-bar {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.statheader.buttonish {
  width: 14%;
  margin-left: 0;
  margin-right: 0;
}
