* {
  box-sizing: border-box;
  font-size: 18px;
}

h1 {
  font-size: 36px;
}

 h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}
