.tooltiptext {
  min-width: 200px;
  max-width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

option {
  color: black;
}

.perk-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perkImg {
  max-width: 50%;
  border: 2px solid;
  border: 2px solid #f04805;
  margin-top: 10px;
  border-radius: 25px;
  padding: 5px;
  background-color: #ffdb63;
  transition: opacity 300ms;
}

.perkImg:hover {
  cursor: pointer;
  box-shadow: 0px 0px 25px yellow;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: blue;
}

.hidden{
  display: none;
  animation: ease-in 2s;
}

.tooltip:hover .tooltiptext {
    display: block;
}

.perkInput {
  height: 40px;
  transition: opacity 300ms;
}

label {
  transition: opacity 300ms;
}

label.disabled, .perkImg.disabled, .perkInput:disabled {
  opacity: 0.5;
}

.perkfield {
  display: flex;
  opacity: 1;
  flex-direction: column;
  width: 100%;
  transition: opacity 300ms, width 300ms;
}

.perkfield.hidden {
  opacity: 0;
  width: 0;
  margin: 0;
  height: 0;
}
