.tooltiptext {
    min-width: 250px;
    max-width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    left: -25px;
    position: absolute;
    z-index: 1;
}

option {
  color: black;
}

.perkImg {
  width: 60px;
  border: 2px solid;
  border: 2px solid #ff8f63;
  margin-top: 10px;
  border-radius: 25px;
  padding: 5px;
  background-color: #ffdb63;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: blue;
}

.perk-label {
  display: flex;
  flex-direction: column;
}

.hidden{
  display: none;
}

.tooltip:hover .tooltiptext {
    display: block;
}

.perkInput {
  border-radius: 10px;
  height: 40px;
  margin: 10px;
}

.perkInput:disabled {
  opacity: 50%;
}

label.disabled {
  color: lightgrey;
  opacity: 50%
}

.perkfield {
  display: flex;
  flex-direction: column;
  width: 100%
}

.perkfield.hidden {
  display: none;
}
