.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.perkImg {
  width: 80px
}

.tooltip {
    position: relative;
    display: inline-block;
    color: blue;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.perkInput {
  border-radius: 10px;
  height: 40px;
  margin: 10px;
}

.perkInput:disabled {
  background-color: white;
  color: lightgrey;
}

label.disabled {
  color: lightgrey
}
